* {
    margin: 0%;
    padding: 0%;
}
html,
body {
    font-family: 'FreeSans', sans-serif;
    font-size: 100%;
    color: #774936;
}
#game-area {
    position: fixed;
}
#footer {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 16px;
    font-size: 0.875rem;
    margin-left: -88px;
    text-align: center;
}
#repo-stars {
    position: absolute;
    margin: 1rem auto;
    z-index: 2;
    right: 16px;
}

.rate {
    animation: tease 1.5s 1s;
}

@keyframes tease {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-3deg) scale(1.2) translate(0px,-5px);
    }
    50% {
        transform: rotate(3deg) scale(1.2) translate(0px,-5px);
    }
    80% {
        transform: rotate(-3deg) scale(1.2) translate(0px,-5px);
    }
    100% {
        transform: rotate(0deg);
    }
}

